{% extends 'submit/includes/base.html' %}
{% block content %}
    <body>
    {% if errors %}
        <p>{{ errors }}</p>
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <!-- Upload form. Note enctype attribute! -->
    <div class="row">
        <div class="col-md-8">
            <h1>Parts Remaining</h1>
            {% if incomplete_parts %}
                <ul class="list-group">
                    {% for part in incomplete_parts %}
                        <li class="list-group-item" style="width: 50%">
                            {{ part.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                You have completed the assignment!
            {% endif %}
            <h1>Submitted Parts</h1>
            <ul class="list-group">
                {% if completed_parts %}
                    {% for part in completed_parts %}
                        <li class="list-group-item" style="width: 50%; height: 50px">
                            <a href="{% url 'submission' part.submission.id %}">
                                {{ part.name }}
                            </a>
                            <span class="pull-right">
                                <b style="font-size: 30px">{{ part.submission.awarded_points }}</b>/{{ part.weight }}
                            </span>
                        </li>
                    {% endfor %}
                {% else %}
                    You have not completed any of the assignment!
                {% endif %}
            </ul>
        </div>
        <div class="col-md-4">
            <h1 align="center">{{ object.description }}</h1>
            <h2>Current Score: {{ current_assignment_score }}%</h2>
            <br>

            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {% crispy form %}
            </form>
        </div>
    </div>
{% endblock %}