{% extends 'submit/includes/base.html' %}
{% block content %}
{% if errors %}
    <p>{{ errors }}</p>
{% endif %}

    <!-- Upload form. Note enctype attribute! -->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 align="center">Submit Work</h1>
            <br>
            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {% crispy form %}
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

<!-- List of uploaded documents -->
{% if form.submissions %}
    <ul>
        <p>Recent submissions</p>
        {% for submit in form.submissions %}
            <li>
                <a href="{% url 'submission' submit.id %}">{{ submit.assignment.course }}/{{ submit.assignment.description }}/{{ submit.submission_date }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No submissions found.</p>
{% endif %}
{% endblock %}