{% extends 'submit/includes/base.html' %}
{% block content %}
{% if errors %}
    <p>{{ errors }}</p>
{% endif %}

<!-- Upload form. Note enctype attribute! -->
<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.assignments }}</p>
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
    <p>
        {{ form.docfile.errors }}
        {{ form.docfile }}
    </p>
    <p><input type="submit" value="Upload"/></p>
</form>

<!-- List of uploaded documents -->
{% if form.submissions %}
    <ul>
        <p>Recent submissions</p>
        {% for submit in form.submissions %}
            <li>
                <a href="{% url 'submission' submit.id %}">{{ submit.assignment.course }}/{{ submit.assignment.description }}/{{ submit.submission_date }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No submissions found.</p>
{% endif %}
{% endblock %}