{% extends 'submit/includes/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Students</h1>
            <ul class="list-group">
                {% for user in object_list %}
                    <li class="list-group-item" style="width: 50%">
                        <a href="{% url 'student_grade' user.id %}">
                            {{ user.first_name }} {{ user.last_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}